<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.4" targetFramework="net472" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net472" />
  <package id="NDbUnit.SqlLite" version="1.6.8.0" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.12" targetFramework="net472" />
</packages>